# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Model weights
*.pth
*.pt
*.ckpt

# Dataset
data/
dataset/
FBlocation/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db